streamlit
qdrant-client
sentence-transformers
python-dotenv
langchain-text-splitters
langchain-community
langchain-huggingface
langchain-core
fastapi
google-genai
protobuf
SQLAlchemy
psycopg2-binary
uvicorn